@font-face {
	font-family: "Balsamiq Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./BalsamiqSans-Regular.woff2) format("woff2"), url(./BalsamiqSans-Regular.woff) format("woff");
}

@font-face {
	font-family: "Balsamiq Sans";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(./BalsamiqSans-Italic.woff2) format("woff2"), url(./BalsamiqSans-Italic.woff) format("woff");
}

@font-face {
	font-family: "Balsamiq Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./BalsamiqSans-Bold.woff2) format("woff2"), url(./BalsamiqSans-Bold.woff) format("woff");
}

@font-face {
	font-family: "Balsamiq Sans";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(./BalsamiqSans-BoldItalic.woff2) format("woff2"), url(./BalsamiqSans-BoldItalic.woff) format("woff");
}
