@font-face {
	font-family: "YanoneKaffeesatz";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./yanonekaffeesatz-regular.woff2) format("woff2"), url(./yanonekaffeesatz-regular.woff) format("woff");
}

@font-face {
	font-family: "YanoneKaffeesatz";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./yanonekaffeesatz-bold.woff2) format("woff2"), url(./yanonekaffeesatz-bold.woff) format("woff");
}
