body {
	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	color: #180202;
	max-width: 1280px;
	margin: 0 auto;
}

/* ====== Вставлять всегда в стили ====== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ====== Вставлять всегда в стили ====== */

.header {
	margin: 20px auto;
}

.footer {
	margin: 20px auto;
}

.menu-pages {
	text-align: center;
	padding: 50px 0;
}

.menu {
	margin: 30px 0 70px 0;
	text-align: center;
	font-size: 0;
}

.menu-link {
	display: inline-block;
	padding: 10px 30px;
	text-transform: uppercase;
	color: darkred;
	font-size: 24px;
}

.mark-text {
	font-size: 18px;
	font-weight: 700;
	text-decoration: underline;
	color: darkred;
}

.block {
	padding: 10%;
}

.description {
	margin: 0 auto 40px;
}

.title {
	/* font-family: "YanoneKaffeesatz", sans-serif; */
	font-size: 38px;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
	color: darkgreen;
}

.subtitle {
	color: brown;
}

.text {
	margin: 15px 0;
}

/* .text-brd {
	margin-bottom: 25px 0;
} */

.li-style-brd {
	margin-bottom: 100px;
}

.brd-w1 {
	padding: 10px;
	margin-bottom: 30px;
	border: 1px solid tomato;
}

.brd-wt {
	padding: 10px;
	margin-bottom: 30px;
	border-top: 3px solid tomato;
}

.brd-wr {
	padding: 10px;
	margin-bottom: 30px;

	border-right: 3px solid tomato;
}

.brd-wb {
	padding: 10px;
	margin-bottom: 30px;
	border-bottom: 3px dashed tomato;
}

.brd-wl {
	padding: 10px;
	margin-bottom: 30px;
	border-style: dotted;
	border-left: 3px dotted tomato;
}

.brd-wrb {
	padding: 10px;
	margin-bottom: 30px;
	border-style: dotted;
	border-bottom: 3px dotted tomato;
	border-right: 3px dotted tomato;
}

.brd-style-none {
	padding: 10px;
	margin-bottom: 30px;
	border: 5px none chocolate;
}

.brd-style-solid {
	padding: 10px;
	margin-bottom: 30px;
	border: 5px solid chocolate;
}

.brd-style-dotted {
	padding: 10px;
	margin-bottom: 30px;
	border: 5px dotted chocolate;
}

.brd-style-dashed {
	padding: 10px;
	margin-bottom: 30px;
	border: 5px dashed chocolate;
}

.brd-style-double {
	padding: 10px;
	margin-bottom: 30px;
	border: 5px double chocolate;
}

.brd-style-groove {
	padding: 10px;
	margin-bottom: 30px;
	border: 10px groove chocolate;
}

.brd-style-ridge {
	padding: 10px;
	margin-bottom: 30px;
	border: 10px ridge chocolate;
}

.brd-style-inset {
	padding: 10px;
	margin-bottom: 30px;
	border: 10px inset chocolate;
}

.brd-style-outset {
	padding: 10px;
	margin-bottom: 30px;
	border: 10px outset chocolate;
}

.brd-color-1 {
	padding: 10px;
	margin-bottom: 30px;
	border: 5px solid;
	border-color: tomato;
}

.brd-color-2 {
	padding: 10px;
	margin-bottom: 30px;
	border: 5px solid;
	border-color: tomato skyblue;
}

.brd-color-3 {
	padding: 10px;
	margin-bottom: 30px;
	border: 5px solid;
	border-color: tomato skyblue olive;
}

.brd-color-4 {
	padding: 10px;
	margin-bottom: 30px;
	border: 5px solid;
	border-color: tomato skyblue olive silver;
}

.padding-style {
	/* background-color: aquamarine; */
	margin: 0 auto 50px;
}

.margin-style {
	/* background-color: bisque; */
	margin: 0 auto 50px;
}

.width-style {
	/* background-color: darkslateblue; */
	margin: 0 auto 50px;
}

.box-style {
	/* background-color: darkslateblue; */
	margin: 0 auto 50px;
}

.overfl-style {
	margin: 0 auto 50px;
}

.display-style {
	margin: 0 auto 50px;
}

.connect {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.5;
	padding: 0 0 10px 30px;
}

.li-style {
	padding: 0 0 10px 40px;
}

/* ===== стили padding ===== */
.p-vars {
	margin-bottom: 20px;
	/* background-color: chocolate; */
}
.p-var-1 {
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-left: 100px;
}

.p-var-2 {
	padding: 50px;
}

.p-var-3 {
	padding: 30px 20px;
}

.p-var-4 {
	padding: 60px 150px 40px;
}

.p-var-5 {
	padding: 30px 50px 40px 60px;
}

.p-picture {
	padding: 100px;
}

/* ===== стили margin ===== */
.m-vars {
	margin: 0 auto;
	max-width: 1024px;
}

.m-var-1 {
	margin-top: 30px;
	margin-right: 40px;
	margin-bottom: 35px;
	margin-left: 45px;
}

.m-var-2 {
	margin: 80px;
}

.m-var-3 {
	margin: 30px 20px;
}

.m-var-4 {
	margin: 60px 150px 40px;
}

.m-var-5 {
	margin: 30px 50px 40px 60px;
}

/* ===== width  height ===== */

.block-w-1 {
	width: 300px;
	/* background-color: red; */
	margin-bottom: 50px;
}

.block-w-1-2 {
	width: 50%;
	/* background-color: red; */
	margin-bottom: 50px;
}

.block-w-2 {
	max-width: 800px;
	/* background-color: green; */
	margin-bottom: 50px;
}

.block-w-2-2 {
	max-width: 50%;
	/* background-color: green; */
	margin-bottom: 50px;
}

.block-w-3 {
	min-width: 500px;
	/* background-color: aquamarine; */
	margin-bottom: 50px;
}

.block-w-3-2 {
	min-width: 50%;
	/* background-color: aquamarine; */
	margin-bottom: 50px;
}

.block-h-1 {
	height: 150px;
	width: 500px;
	background-color: aquamarine;
	margin-bottom: 150px;
}

.block-h-2 {
	max-height: 200px;
	width: 400px;
	background-color: aquamarine;
	margin-bottom: 150px;
}

.block-h-3 {
	min-height: 200px;
	width: 400px;
	background-color: aquamarine;
	margin-bottom: 150px;
}

/* ===== overflow ===== */

.ovfl-1 {
	overflow: visible;
	max-height: 100px;
	width: 300px;
	margin: 0 0 200px 0;
	background-color: aquamarine;
}

.ovfl-2 {
	overflow: hidden;
	max-height: 200px;
	width: 400px;
	margin: 0 0 30px 0;
	background-color: aquamarine;
}

.ovfl-3 {
	overflow: scroll;
	max-height: 200px;
	width: 400px;
	margin: 0 0 30px 0;
	background-color: aquamarine;
}

.ovfl-4 {
	overflow: auto;
	max-height: 200px;
	width: 400px;
	margin: 0 0 30px 0;
	background-color: aquamarine;
}
