/* &display=swap */

/* Вариант подключения обнуляющих стилей через импорт */
@import "null.css";
@import url("../fonts/cuprum/cuprum.css");
@import url("../fonts/yanone-kaffeesatz/yanonekaffeesatz.css");
@import url("../fonts/circular-std/circularstd.css");

body {
	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	color: #180202;
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 50px;
}
/* 
div {
	border: 1px solid tomato;
} */

/* ====== Вставлять всегда в стили ====== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ====== Вставлять всегда в стили ====== */

.header {
	margin: 20px auto;
}

.footer {
	margin: 20px auto;
}

.menu-pages {
	text-align: center;
	padding: 50px 0;
}

.menu {
	margin: 30px 0 70px 0;
	text-align: center;
	font-size: 0;
}

.menu-link {
	display: inline-block;
	padding: 10px 30px;
	text-transform: uppercase;
	color: darkred;
	font-size: 24px;
}

.page-link {
	text-decoration: underline;
	color: darkred;
}

.mark-text {
	font-size: 18px;
	font-weight: 700;
	text-decoration: underline;
	color: darkred;
}

.block {
	padding: 10%;
}

.description {
	margin: 0 auto 40px;
}

.title {
	font-family: "YanoneKaffeesatz", sans-serif;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
	color: darkgreen;
}

.subtitle {
	color: brown;
}

.connect {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.5;
	padding: 0 0 10px 30px;
}

.page-image {
	margin: 0 0 30px 0;
}

.text {
	margin: 0 0 20px 0;
}

.lesson6-style {
	margin: 0 0 140px 0;
}

.border-style {
	margin: 0 0 100px 0;
}

.li-style-brd {
	margin: 0 0 100px 0;
}

.brd-w1 {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 1px solid tomato;
}

.brd-wt {
	padding: 10px;
	margin: 0 0 30px 0;
	border-top: 3px solid tomato;
}

.brd-wr {
	padding: 10px;
	margin: 0 0 30px 0;
	border-right: 3px solid tomato;
}

.brd-wb {
	padding: 10px;
	margin: 0 0 30px 0;
	border-bottom: 3px dashed tomato;
}

.brd-wl {
	padding: 10px;
	margin: 0 0 30px 0;
	border-style: dotted;
	border-left: 3px dotted tomato;
}

.brd-wrb {
	padding: 10px;
	margin: 0 0 30px 0;
	border-style: dotted;
	border-bottom: 3px dotted tomato;
	border-right: 3px dotted tomato;
}

.brd-style-none {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 5px none chocolate;
}

.brd-style-solid {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 5px solid chocolate;
}

.brd-style-dotted {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 5px dotted chocolate;
}

.brd-style-dashed {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 5px dashed chocolate;
}

.brd-style-double {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 5px double chocolate;
}

.brd-style-groove {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 10px groove chocolate;
}

.brd-style-ridge {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 10px ridge chocolate;
}

.brd-style-inset {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 10px inset chocolate;
}

.brd-style-outset {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 10px outset chocolate;
}

.brd-inline {
	margin: 0 0 30px 0;
}

.brd-inline-text {
	border-bottom: 2px dotted green;
	line-height: 125%;
}

.brd-color-1 {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 5px solid;
	border-color: tomato;
}

.brd-color-2 {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 5px solid;
	border-color: tomato skyblue;
}

.brd-color-3 {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 5px solid;
	border-color: tomato skyblue olive;
}

.brd-color-4 {
	padding: 10px;
	margin: 0 0 30px 0;
	border: 5px solid;
	border-color: tomato skyblue olive silver;
}

.border-radius {
	margin: 0 0 100px 0;
}

.brd-rad-1 {
	background-color: aquamarine;
	max-width: 500px;
	padding: 10px;
	border-radius: 20px;
	margin: 0 0 50px 0;
}

.brd-rad-2 {
	background-color: rgba(122, 114, 163, 0.473);
	max-width: 800px;
	padding: 30px;
	border: 5px solid green;
	border-radius: 200px / 100px;
	margin: 0 0 50px 0;
}

.brd-rad-3 {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	overflow: hidden;
	border: 4px dotted darkred;
	margin: 0 0 50px 0;
}

.outln-style {
	margin: 0 0 100px 0;
}

.outln-st-none {
	outline: 10px none darkgreen;
	margin: 0 auto 50px;
}

.outln-st-dotted {
	outline: 5px dotted darkgreen;
	max-width: 800px;
	margin: 0 0 50px 30px;
}

.outln-st-dashed {
	outline: 5px dashed darkgreen;
	max-width: 800px;
	margin: 0 auto 50px;
}

.outln-st-solid {
	outline: 5px solid darkgreen;
	max-width: 800px;
	margin: 0 0 50px 30px;
	/* outline-offset: 10px; */
}

.outln-st-double {
	max-width: 800px;
	margin: 0 auto 50px;
	outline: 5px double darkgreen;
}

.outln-st-groove {
	max-width: 800px;
	margin: 0 0 50px 30px;
	outline: 10px groove darkgreen;
	/* outline-offset: 10px; */
}

.outln-st-ridge {
	max-width: 800px;
	margin: 0 auto 50px;
	outline: 10px ridge darkgreen;
	/* outline-offset: 10px; */
}

.outln-st-inset {
	max-width: 800px;
	margin: 0 0 50px 30px;
	outline: 10px inset darkgreen;
}

.outln-st-outset {
	max-width: 800px;
	margin: 0 auto 50px;
	outline: 10px outset darkgreen;
	/* outline-offset: 10px; */
}

.bxshdw-style {
	margin: 0 0 100px 0;
}

.bxshdw-1 {
	box-shadow: 10px 10px 10px 10px darkblue;
	max-width: 600px;
	margin: 0 0 100px 0;
	padding: 10px;
	border: 3px solid yellowgreen;
	border-radius: 10px;
}

.bxshdw-2 {
	box-shadow: 10px 10px 1px 10px darkblue, -10px -10px 1px 10px darkmagenta;
	max-width: 600px;
	margin: 0 0 100px 30px;
	padding: 10px;
	border: 3px solid yellowgreen;
	border-radius: 10px;
}

.bxshdw-3 {
	box-shadow: inset 0px 0px 15px 0px darkblue;
	max-width: 600px;
	margin: 0 0 100px 0;
	padding: 10px;
	border: 3px solid yellowgreen;
	border-radius: 10px;
}

.opsty-style {
	margin: 0 0 100px 0;
}

.opsty-st-2 {
	color: red;
	max-width: 600px;
	margin: 0 0 100px 0;
	padding: 10px;
	border: 3px solid darkslategray;
	border-radius: 10px;
	opacity: 0.4;
}

.opsty-img {
	opacity: 0;
}

.vsblty-style {
	margin: 0 0 140px 0;
}

.vsblty-st-1 {
	visibility: visible;
	max-width: 600px;
	padding: 10px;
	border: 3px solid darkslategray;
	border-radius: 10px;
}

.vsblty-img-1 {
	visibility: hidden;
}

/* ------- СТИЛИ МАКЕТА ФИГМА ------ */
.body-f {
	max-width: 1440px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.27;
	color: #313131;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.testimonials {
	max-width: 1025px;
	margin: 0 auto 140px;
}

/* Circular Std Medium */
.title-f {
	font-family: "CircularStd-Medium", "Arial";
	font-size: 65px;
	line-height: 1.26;
	margin-bottom: 20px;
	text-align: center;
}

/* Circular Std Book */
.subtitle-f {
	font-family: "CircularStd-Book", "Arial";
	font-size: 20px;
	line-height: 1.25;
	color: #5f5f5f;
	margin: 0 auto 224px;
	max-width: 750px;
	text-align: center;
}

/* Circular Std Medium */
.content-title {
	font-family: "CircularStd-Medium", "Arial";
	font-size: 34px;
	font-weight: 700;
	line-height: 1.29;
	opacity: 0.88;
	margin-bottom: 20px;
}

/* Circular Std Book */
.content-text {
	font-family: "CircularStd-Book", "Arial";
	line-height: 1.56;
	color: #5f5f5f;
	max-width: 508px;
	margin-bottom: 125px;
}

/* Circular Std Bold */
.tr-name {
	font-family: "CircularStd-Bold", "Arial";
	font-weight: 700;
	opacity: 0.88;
	margin-bottom: 5px;
}

/* Circular Std Book */
.tr-description {
	font-family: "CircularStd-Book", "Arial";
	color: #b8b8b8;
	margin-bottom: 100px;
}

.footer-menu {
	font-family: "CircularStd-Book", "Arial";
	font-size: 16px;
	text-align: center;
	margin-bottom: 50px;
}

.footer-text {
	margin-bottom: 10px;
	margin-left: 30px;
	font-family: "CircularStd-Book", "Arial";
}
