/* &display=swap */
/* Вариант подключения обнуляющих стилей через импорт */
@import "null.css";
@import "page.css";
@import url("../fonts/сuprum/cuprum.css");
@import url("../fonts/yanone-kaffeesatz/yanonekaffeesatz.css");

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/*  */

/* @font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/Inter-Regular.woff2) format("woff2"), url(../fonts/Inter-Regular.woff) format("woff");
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/Inter-Bold.woff2) format("woff2"), url(../fonts/Inter-Bold.woff) format("woff");
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(../fonts/Inter-Black.woff2) format("woff2"), url(../fonts/Inter-Black.woff) format("woff");
} */

/* body {
	font-family: "Lato", "Arial", "Helvetica", sans-serif;
} */

/* body {
	font-family: "Lato", "Arial", "Helvetica", sans-serif;
} */

.block {
	background-color: aqua;
	padding: 10%;

	/* ========================= 	PADDING ========================= */

	/* padding - это внутренний отстут от границ объекта до гранц содержимого внутри этого объекта
	задается ТОЛЬКО ПОЛОЖИТЕЛЬНЫМ ЧИСЛОМ
	единицы измерения - px / % / em / rem; */

	/* При указании padding: в px; 	Например padding: 100px; 
	В зависимости от размера вьюпорта динамически изменяется размер и содержимого, отступ при этом остается фиксированным - неизменным.


	/* При указании padding: в %; 	Например padding: 20%;
	Значение padding в % высчитывается от ширины родителя.
	В зависимости от размера ширины родителя динамически изменяется размер И содержимого И отступа padding.
	Текстовые материалы динамически изменяются ужимаются или расширяются.
	
	Картинка. 
	Поскольку картинка имеет фиксированный размер, при уменьшении размера родителя картинка наползает на правый паддинг,
	Важно!!! Левый padding для картинки работает всегда!!!
	Если размер картинки превышает [размер содержимого - то отчего считается padding] и [применяемых внтуренних отступов], 
	то картинка вначале наползает сверху на правый padding. 
	а если родитель и вьюпорт и далее уменьшается, 
	то картинка вылезет за его пределы и появится полоса прокрутки снизу.

	??? Посчитать высоту в зависимости от ширины родителя!
	??Высота будет подстраиваться под ширину изображения
	
	padding-top: ;
	padding-right: ;
	padding-bottom: ;
	padding-left: ; */

	/* padding сокращенная запись в ОДНО значение */
	/* padding: 50px; - отступ со всех сторон по 50px */

	/* padding сокращенная запись в ДВА значения */
	/* padding: 30px 50px;- отступ сверху и снизу - 30x / слева и справа по 50px  */

	/* padding сокращенная запись в ТРИ значения */
	/* padding: 30px 50px 40px; - отступ сверху 30рх / слева и справа по 50рх / снизу 40рх 
	иными словами прописываетс верхний параметр - горинзонталь - нижний параметр */

	/* padding сокращенная запись в ЧЕТЫРЕ значения 
	очередность указания как на часах 12 часов - верхний / 3 часа - правый / 6 часов - нижний / 9 часов - левый 
	в примере  верхний 30рх / правый 50рх / нижний 40рх / левый 60рх 
	padding: 30px 50px 40px 60px;*/

	/* padding: ; НЕ ЗАДАЕТСЯ ДЛЯ СТРОЧНЫХ ОБЪЕКТОВ!!! */
}

.picture {
	/* width: 900px; */
	background-color: darkkhaki;
	padding: 10%;
}

/* ========================= MARGIN ========================= */

/* margin: ; внешний отступ, расстояние от границы объекта до другого объекта
margin: ; работает ТОЛЬКО для БЛОЧНЫХ объектов.
Значение margin задаются единицами измерения - px / % / em / rem; 
Значение margin может быть как положительным, так и отрицательным!

При использовании отрицательного margin текущий объект поднимается вверх
и ВСЕ объекты следующие за ним ТАКЖЕ поднимаются вверх. Важно помнить это свойство отрицательно margin.

margin-top: ;
margin-right: ;
margin-bottom: ;
margin-left: ;

margin сокращенная запись в ОДНО значение
margin: 50px; - внешний отступ со всех сторон по 50px

margin сокращенная запись в ДВА значения
margin: 30px 50px;- внешний отступ сверху и снизу - 30x / слева и справа по 50px 

margin сокращенная запись в ТРИ значения
margin: 30px 50px 40px; - отступ сверху 30рх / слева и справа по 50рх / снизу 40рх 
иными словами прописываетс верхний параметр - горинзонталь - нижний параметр 

margin сокращенная запись в ЧЕТЫРЕ значения
очередность указания как на часах 12 часов - верхний / 3 часа - правый / 6 часов - нижний / 9 часов - левый 
в примере  верхний 30рх / правый 50рх / нижний 40рх / левый 60рх 
margin: 30px 50px 40px 60px; 

*/

/* ========================= 	ШИРИНЫ И ВЫСОАТЫ 1.32.00 ========================= */

/* Ширина объекта WIDTH может указываться тремя способами
Значение width задается единицами измерения - px / % / em / rem; 
Конкретным значением - px / % / em / rem;

Если родитель и вьюпорт меньше указанного параметра width: 300px, то содержимое блока сломается и будет заходить за правый край экрана.
Если значение указано в % = width: 50%; то ширина будет всегда 50% родителя и при уменьшении вьюпорта содержимое будет пропорциально уменьшаться

Не шире чем - max-width: 800px; - ширина объекта не шире, чем 800px
Шире указанного параметра объект не будет. Уже он может быть, шире нет.
Если родитель и вьюпорт меньше указанного параметра max-width, то содержимое блока будет уменьшаться пропорционально имеющемуся размеру.
Если родитель или вьпорт больше указанного параметра max-width, то образуется свободное поле.
Если значение указано в % = max-width: 50%; то ширина содержимого будет всегда 50% родителя.
При уменьшении родителя содержимое будет уменьшаться и всегда будет оставаться поле 50%

Не уже чем - min-width: 500px;  - ширина объекта не уже, чем 500px.
Если родитель и вьюпорт меньше указанного параметра min-width: 500px; , то содержимое блока сломается и будет заходить за правый край экрана
Если значение указано в % = min-width: 50%; то вначале содержимое объекта займет всю ширину объекта, а при уменьшении ширины родитедя
содержимое уменьшится до 50% и далее продложит уменьшаться не ломаясь.


============================


Высота  объекта WIDTH может указываться тремя способами
Значение width задается единицами измерения - px / % / em / rem; 
Конкретным значением - px / % / em / rem;


2,07 border-box


/* 
Отступы выставляются только вниз и вправо!!!!

*/
